[core]
	excludesfile = ~/.gitignore_global
[user]
	name = {{ git_name }}
	email = {{ git_email }}

{% if ansible_os_family == 'Darwin' %}

[credential]
        helper = osxkeychain
[difftool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true

{% endif %}
